amisbook文档/单一窗口回执文档/30-金关工程二期特殊监管区域（保税物流管理系统）导入接口规范/BWS101.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:sas="http://www.chinaport.gov.cn/sas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--附件信息-->
	<xs:complexType name="SasAcmpRLType">
		<xs:annotation>
			<xs:documentation>附件关系表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcmpFormSeqNo">
				<xs:annotation>
					<xs:documentation>随附单证序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FileName">
				<xs:annotation>
					<xs:documentation>附件文件名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BlsNo">
				<xs:annotation>
					<xs:documentation>业务单据统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgTmsCnt">
				<xs:annotation>
					<xs:documentation>变更或报核次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormFmt">
				<xs:annotation>
					<xs:documentation>随附单证格式</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BlsType">
				<xs:annotation>
					<xs:documentation>业务单证类型    6-业务申报表;7- 物流账册</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormTypeCD">
				<xs:annotation>
					<xs:documentation>随附单证类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormNo">
				<xs:annotation>
					<xs:documentation>随附单证编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormFileNm">
				<xs:annotation>
					<xs:documentation>随附单证文件名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IcCardNo">
				<xs:annotation>
					<xs:documentation>上传人IC卡号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransferTradeCode">
				<xs:annotation>
					<xs:documentation>上传单位海关编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkCD">
				<xs:annotation>
					<xs:documentation>修改标记代码 0-未修改 1-修改  3-增加</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="total_pocket_qty">
				<xs:annotation>
					<xs:documentation>总包数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cur_pocket_no">
				<xs:annotation>
					<xs:documentation>当前包序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pocket_id">
				<xs:annotation>
					<xs:documentation>包ID(通一票数据包id必须相同)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SasAcmpRLMessage">
		<xs:annotation>
			<xs:documentation>附件关系请求/响应</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SasAcmpRLList" type="SasAcmpRLType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>附件关系表</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--物流账册信息-->
	<xs:element name="BwlMessage">
		<xs:annotation>
			<xs:documentation>物流账册暂存、申报请求</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BwlHead" type="BwlHeadType"/>
				<xs:element name="BwlList" type="BwlListType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="OperCusRegCode">
					<xs:annotation>
						<xs:documentation>操作卡的海关十位</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BwlHeadType">
		<xs:annotation>
			<xs:documentation>物流账册表头信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BwlNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>仓库账册号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EtpsPreentNo">
				<xs:annotation>
					<xs:documentation>企业内部编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclTypeCd">
				<xs:annotation>
					<xs:documentation>申报类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BwlTypeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>区域场所类别</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MasterCuscd">
				<xs:annotation>
					<xs:documentation>主管海关</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BizopEtpsSccd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经营企业社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BizopEtpsno">
				<xs:annotation>
					<xs:documentation>经营企业编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BizopEtpsNm">
				<xs:annotation>
					<xs:documentation>经营企业名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsSccd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报企业社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsno">
				<xs:annotation>
					<xs:documentation>申报企业编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsNm">
				<xs:annotation>
					<xs:documentation>申报企业名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsTypeCd">
				<xs:annotation>
					<xs:documentation>申报单位类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContactEr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联系人</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContactTele" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HouseTypeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>企业类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HouseNm">
				<xs:annotation>
					<xs:documentation>仓库名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HouseNo">
				<xs:annotation>
					<xs:documentation>仓库编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HouseArea" minOccurs="0">
				<xs:annotation>
					<xs:documentation>仓库面积</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HouseVolume" minOccurs="0">
				<xs:annotation>
					<xs:documentation>仓库容积</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HouseAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>仓库地址</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclTime">
				<xs:annotation>
					<xs:documentation>申报时间（格式：yyyyMMdd）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>录入日期（格式：yyyyMMdd）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TaxTypeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>退税标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FinishValidTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>结束有效日期（格式：yyyyMMdd）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AppendTypeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>记账模式</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputCode">
				<xs:annotation>
					<xs:documentation>录入单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputSccd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>录入单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputName">
				<xs:annotation>
					<xs:documentation>录入单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UsageTypeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>账册用途（1:跨境电商。2：出口跨境电商，3：海外仓默认为空，后续增加其他类型）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段1</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段2</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段3</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段4</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BwlListType">
		<xs:annotation>
			<xs:documentation>物流账册表体信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsSeqNo">
				<xs:annotation>
					<xs:documentation>商品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsMtno">
				<xs:annotation>
					<xs:documentation>商品料号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Gdecd">
				<xs:annotation>
					<xs:documentation>商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsNm">
				<xs:annotation>
					<xs:documentation>商品名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsSpcfModelDesc">
				<xs:annotation>
					<xs:documentation>商品规格型号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NatCd">
				<xs:annotation>
					<xs:documentation>国别</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclUnitCd">
				<xs:annotation>
					<xs:documentation>申报计量单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LawfUnitCd">
				<xs:annotation>
					<xs:documentation>法定计量单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SecdLawfUnitCd">
				<xs:annotation>
					<xs:documentation>第二法定计量单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclUprcAmt">
				<xs:annotation>
					<xs:documentation>申报单价金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MODF_MARKCD">
				<xs:annotation>
					<xs:documentation>修改标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclCurrCd">
				<xs:annotation>
					<xs:documentation>申报币制</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvtNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>记账清单编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvtGNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>记账清单商品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段1</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段2</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段3</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段4</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LimitDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>存储(监管）期限</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--公共信息-->
	<xs:element name="CommonResponeMessage">
		<xs:annotation>
			<xs:documentation>导入通用响应信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeqNo">
					<xs:annotation>
						<xs:documentation>中心统一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EtpsPreentNo">
					<xs:annotation>
						<xs:documentation>状态</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CheckInfo">
					<xs:annotation>
						<xs:documentation>响应信息</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DealFlag">
					<xs:annotation>
						<xs:documentation>响应代码</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="KeyInfo">
		<xs:annotation>
			<xs:documentation>签名所用的证书信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="KeyName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2"/>
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SignatureValue">
		<xs:annotation>
			<xs:documentation>签名值</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="256"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SignedInfo">
		<xs:annotation>
			<xs:documentation>计算签名值所用的算法</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CanonicalizationMethod">
					<xs:annotation>
						<xs:documentation>规范化算法</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Algorithm" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="SignatureMethod">
					<xs:annotation>
						<xs:documentation>数字签名算法</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Algorithm" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
									<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#rsa-md5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Reference">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DigestMethod">
								<xs:annotation>
									<xs:documentation>摘要算法</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Algorithm" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:anyURI">
												<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#sha1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="DigestValue">
								<xs:annotation>
									<xs:documentation>摘要值</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="256"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="URI" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnvelopInfo">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="version">
					<xs:annotation>
						<xs:documentation>版本编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="11"/>
							<xs:minLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="business_id" minOccurs="0">
					<xs:annotation>
						<xs:documentation>业务单证号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="message_id">
					<xs:annotation>
						<xs:documentation>报文唯一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="file_name">
					<xs:annotation>
						<xs:documentation>用户原始报文名，主要用于用户查询</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="message_type">
					<xs:annotation>
						<xs:documentation>报文类型</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="6"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sender_id">
					<xs:annotation>
						<xs:documentation>发送方编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="receiver_id">
					<xs:annotation>
						<xs:documentation>接收方编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="send_time" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>发送时间</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ic_Card">
					<xs:annotation>
						<xs:documentation>平台用户所用ic卡号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="any_data">
		<xs:annotation>
			<xs:documentation>业务数据内容</xs:documentation>
		</xs:annotation>
		<xs:complexType/>
	</xs:element>
	<xs:element name="PocketInfo">
		<xs:annotation>
			<xs:documentation>包信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="is_unstructured" minOccurs="0">
					<xs:annotation>
						<xs:documentation>1-非格式化</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Package">
		<xs:annotation>
			<xs:documentation>业务报文数据节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EnvelopInfo"/>
				<xs:element ref="DataInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataInfo">
		<xs:annotation>
			<xs:documentation>业务内容</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PocketInfo"/>
				<xs:element name="BussinessData">
					<xs:annotation>
						<xs:documentation>存放业务数据</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BwlMessage"/>
							<xs:element name="DelcareFlag" type="xs:int">
								<xs:annotation>
									<xs:documentation>申报标志 0--暂存；1--申报；</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="SasAcmpRLMessage" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Signature">
		<xs:annotation>
			<xs:documentation>xml数字签名根节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SignedInfo"/>
				<xs:element ref="SignatureValue"/>
				<xs:element ref="KeyInfo"/>
				<xs:element name="Object">
					<xs:annotation>
						<xs:documentation>业务实体报文</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Package"/>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
