amisbook文档/单一窗口回执文档/30-金关工程二期特殊监管区域（保税物流管理系统）导入接口规范/EMS111.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) by hgww (CHINA E-PORT INFORMATION DATA) -->
<xs:schema xmlns:nems="http://www.chinaport.gov.cn/nems" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--电子账册信息-->
	<xs:element name="EmsMessage">
		<xs:annotation>
			<xs:documentation>电子账册暂存请求</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NemsHead" type="NemsHead"/>
				<xs:element name="NemsImgList" type="NemsImgList" maxOccurs="unbounded"/>
				<xs:element name="NemsExgList" type="NemsExgList" maxOccurs="unbounded"/>
				<xs:element name="NemsCmList" type="NemsCmList" maxOccurs="unbounded"/>
				<xs:element name="OperCusRegCode">
					<xs:annotation>
						<xs:documentation>操作卡的海关十位</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NemsHead">
		<xs:annotation>
			<xs:documentation>电子账册表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo">
				<xs:annotation>
					<xs:documentation>中心统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmsNo">
				<xs:annotation>
					<xs:documentation>账册编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CHG_TMS_CNT">
				<xs:annotation>
					<xs:documentation>变更次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ETPS_PREENT_NO">
				<xs:annotation>
					<xs:documentation>企业内部编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BIZOP_ETPSNO">
				<xs:annotation>
					<xs:documentation>经营单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BIZOP_ETPS_SCCD">
				<xs:annotation>
					<xs:documentation>经营单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BIZOP_ETPS_NM">
				<xs:annotation>
					<xs:documentation>经营单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RCVGD_ETPSNO">
				<xs:annotation>
					<xs:documentation>加工单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RVSNGD_ETPS_SCCD">
				<xs:annotation>
					<xs:documentation>加工单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RCVGD_ETPS_NM">
				<xs:annotation>
					<xs:documentation>加工单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_ETPS_TYPECD">
				<xs:annotation>
					<xs:documentation>申请单位类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_ETPSNO">
				<xs:annotation>
					<xs:documentation>申请单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_ETPS_SCCD">
				<xs:annotation>
					<xs:documentation>申报单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_ETPS_NM">
				<xs:annotation>
					<xs:documentation>申请单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EMS_TYPECD">
				<xs:annotation>
					<xs:documentation>账册类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_TYPECD">
				<xs:annotation>
					<xs:documentation>申报类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FINISH_VALID_DATE">
				<xs:annotation>
					<xs:documentation>结束有效期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ACTL_IMP_TOTAL_AMT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实际进口总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ACTL_EXP_TOTAL_AMT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实际出口总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MTPCK_ITEM_CNT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>料件项数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ENDPRD_ITEM_CNT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>成品项数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="APCRET_NO">
				<xs:annotation>
					<xs:documentation>批准证编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NETWK_ETPS_ARCRP_NO">
				<xs:annotation>
					<xs:documentation>联网企业档案库编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MAX_TOVR_AMT">
				<xs:annotation>
					<xs:documentation>最大周转金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RMK">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_TIME">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RCNT_VCLR_TIME">
				<xs:annotation>
					<xs:documentation>最近核销日期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VCLR_PRID_VAL">
				<xs:annotation>
					<xs:documentation>核销周期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MASTER_CUSCD">
				<xs:annotation>
					<xs:documentation>主管海关</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UCNS_DCL_SEGCD">
				<xs:annotation>
					<xs:documentation>单耗申报环节</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UCNS_VERNO_CNTR_FLAG">
				<xs:annotation>
					<xs:documentation>单耗版本号控制标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INPUT_ETPS_TYPECD">
				<xs:annotation>
					<xs:documentation>录入单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INPUT_ETPS_SCCD">
				<xs:annotation>
					<xs:documentation>录入单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INPUT_ETPS_NM">
				<xs:annotation>
					<xs:documentation>录入单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INPUT_TIME">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IMP_MAX_ACCOUNT">
				<xs:annotation>
					<xs:documentation>最大进口金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VCLR_TYPECD">
				<xs:annotation>
					<xs:documentation>核销类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ETPS_POSES_SADJA_QUA_FLAG">
				<xs:annotation>
					<xs:documentation>核销方式</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UsageTypeCd">
				<xs:annotation>
					<xs:documentation>账册用途</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NemsCmList">
		<xs:annotation>
			<xs:documentation>电子账册单耗表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo">
				<xs:annotation>
					<xs:documentation>中心统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="G_SEQNO">
				<xs:annotation>
					<xs:documentation>序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ENDPRD_SEQNO">
				<xs:annotation>
					<xs:documentation>成品表体序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ENDPRD_GDS_MTNO">
				<xs:annotation>
					<xs:documentation>成品料号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ENDPRD_GDECD">
				<xs:annotation>
					<xs:documentation>成品商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ENDPRD_GDS_NM">
				<xs:annotation>
					<xs:documentation>成品商品名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MTPCK_SEQNO">
				<xs:annotation>
					<xs:documentation>料件表体序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MTPCK_GDS_MTNO">
				<xs:annotation>
					<xs:documentation>料件料号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MTPCK_GDECD">
				<xs:annotation>
					<xs:documentation>料件商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MTPCK_GDS_NM">
				<xs:annotation>
					<xs:documentation>料件商品名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UCNS_VERNO">
				<xs:annotation>
					<xs:documentation>单耗版本号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UCNS_QTY">
				<xs:annotation>
					<xs:documentation>单耗</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NET_USEUP_QTY">
				<xs:annotation>
					<xs:documentation>净耗</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INTGB_LOSS_RATE">
				<xs:annotation>
					<xs:documentation>无形损耗率</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TGBL_LOSS_RATE">
				<xs:annotation>
					<xs:documentation>有形损耗率</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BOND_MTPCK_PRPR">
				<xs:annotation>
					<xs:documentation>保税料件比例</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UCNS_DCL_STUCD">
				<xs:annotation>
					<xs:documentation>单耗申报状态</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MODF_MARKCD">
				<xs:annotation>
					<xs:documentation>修改标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RMK">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INDB_TIME">
				<xs:annotation>
					<xs:documentation>入库时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VALID_DATE">
				<xs:annotation>
					<xs:documentation>单耗有效期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NemsImgList">
		<xs:annotation>
			<xs:documentation>电子账册料件表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo">
				<xs:annotation>
					<xs:documentation>中心统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GDS_SEQNO">
				<xs:annotation>
					<xs:documentation>料件序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GDS_MTNO">
				<xs:annotation>
					<xs:documentation>商品料号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GDECD">
				<xs:annotation>
					<xs:documentation>商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CUSM_EXE_MARKCD">
				<xs:annotation>
					<xs:documentation>海关执行标记代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ETPS_EXE_MARKCD">
				<xs:annotation>
					<xs:documentation>企业执行标记代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GDS_NM">
				<xs:annotation>
					<xs:documentation>商品名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ENDPRD_GDS_SPCF_MODEL_DESC">
				<xs:annotation>
					<xs:documentation>商品规格型号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_UNITCD">
				<xs:annotation>
					<xs:documentation>申报计量单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LAWF_UNITCD">
				<xs:annotation>
					<xs:documentation>法定计量单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SECD_LAWF_UNITCD">
				<xs:annotation>
					<xs:documentation>法定第二单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_UPRC_AMT">
				<xs:annotation>
					<xs:documentation>企业申报单价</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_CURRCD">
				<xs:annotation>
					<xs:documentation>币制</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_QTY">
				<xs:annotation>
					<xs:documentation>申报数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VCLR_PRID_INIT_QTY">
				<xs:annotation>
					<xs:documentation>期初数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADJMTR_MARKCD">
				<xs:annotation>
					<xs:documentation>主料标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MODF_MARKCD">
				<xs:annotation>
					<xs:documentation>修改标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="QTY_CNTR_MARKCD">
				<xs:annotation>
					<xs:documentation>数量控制标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LVYRLF_MODECD">
				<xs:annotation>
					<xs:documentation>征免方式</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="APPR_MAX_SURP_QTY">
				<xs:annotation>
					<xs:documentation>批准最大余数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RMK">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INDB_TIME">
				<xs:annotation>
					<xs:documentation>入库时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NemsExgList">
		<xs:annotation>
			<xs:documentation>电子账册成品表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo">
				<xs:annotation>
					<xs:documentation>中心统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GDS_SEQNO">
				<xs:annotation>
					<xs:documentation>成品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GDS_MTNO">
				<xs:annotation>
					<xs:documentation>企业料号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GDECD">
				<xs:annotation>
					<xs:documentation>商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CUSM_EXE_MARKCD">
				<xs:annotation>
					<xs:documentation>海关执行标记代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ETPS_EXE_MARKCD">
				<xs:annotation>
					<xs:documentation>企业执行标记代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GDS_NM">
				<xs:annotation>
					<xs:documentation>商品名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ENDPRD_GDS_SPCF_MODEL_DESC">
				<xs:annotation>
					<xs:documentation>商品规格型号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_UNITCD">
				<xs:annotation>
					<xs:documentation>申报计量单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LAWF_UNITCD">
				<xs:annotation>
					<xs:documentation>法定计量单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SECD_LAWF_UNITCD">
				<xs:annotation>
					<xs:documentation>法定第二单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_UPRC_AMT">
				<xs:annotation>
					<xs:documentation>企业申报单价</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_CURRCD">
				<xs:annotation>
					<xs:documentation>币制</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCL_QTY">
				<xs:annotation>
					<xs:documentation>申报数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VCLR_PRID_INIT_QTY">
				<xs:annotation>
					<xs:documentation>期初数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADJMTR_MARKCD">
				<xs:annotation>
					<xs:documentation>主料标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MODF_MARKCD">
				<xs:annotation>
					<xs:documentation>修改标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="QTY_CNTR_MARKCD">
				<xs:annotation>
					<xs:documentation>数量控制标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LVYRLF_MODECD">
				<xs:annotation>
					<xs:documentation>征免方式</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RMK">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INDB_TIME">
				<xs:annotation>
					<xs:documentation>入库时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CSTTN_FLAG">
				<xs:annotation>
					<xs:documentation>磋商标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UCNS_TQSN_FLAG">
				<xs:annotation>
					<xs:documentation>单耗质疑标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="APPR_MAX_SURP_QTY">
				<xs:annotation>
					<xs:documentation>批准最大余数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--账册系统公共信息-->
	<xs:complexType name="OperInfo">
		<xs:annotation>
			<xs:documentation>操作信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportType">
				<xs:annotation>
					<xs:documentation>导入标示：0-录入；1-导入</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="KeyInfo">
		<xs:annotation>
			<xs:documentation>签名所用的证书信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="KeyName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2"/>
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SignatureValue">
		<xs:annotation>
			<xs:documentation>签名值</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="256"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SignedInfo">
		<xs:annotation>
			<xs:documentation>计算签名值所用的算法</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CanonicalizationMethod">
					<xs:annotation>
						<xs:documentation>规范化算法</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Algorithm" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="SignatureMethod">
					<xs:annotation>
						<xs:documentation>数字签名算法</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Algorithm" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
									<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#rsa-md5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Reference">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DigestMethod">
								<xs:annotation>
									<xs:documentation>摘要算法</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Algorithm" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:anyURI">
												<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#sha1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="DigestValue">
								<xs:annotation>
									<xs:documentation>摘要值</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="256"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="URI" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnvelopInfo">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="version">
					<xs:annotation>
						<xs:documentation>版本编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="11"/>
							<xs:minLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="business_id" minOccurs="0">
					<xs:annotation>
						<xs:documentation>业务单证号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="message_id">
					<xs:annotation>
						<xs:documentation>报文唯一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="file_name">
					<xs:annotation>
						<xs:documentation>用户原始报文名，主要用于用户查询</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="message_type">
					<xs:annotation>
						<xs:documentation>报文类型</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="6"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sender_id">
					<xs:annotation>
						<xs:documentation>发送方编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="receiver_id">
					<xs:annotation>
						<xs:documentation>接收方编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="send_time" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>发送时间</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ic_Card" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>平台用户所用ic卡号</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="any_data">
		<xs:annotation>
			<xs:documentation>业务数据内容</xs:documentation>
		</xs:annotation>
		<xs:complexType/>
	</xs:element>
	<xs:element name="Package">
		<xs:annotation>
			<xs:documentation>业务报文数据节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EnvelopInfo"/>
				<xs:element ref="DataInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataInfo">
		<xs:annotation>
			<xs:documentation>业务内容</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BussinessData">
					<xs:annotation>
						<xs:documentation>存放业务数据</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="EmsMessage"/>
							<xs:element name="DelcareFlag" type="xs:int">
								<xs:annotation>
									<xs:documentation>申报标志 0--暂存；1--申报；</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NemsAcmpRLMessage">
								<xs:annotation>
									<xs:documentation>附件关系请求/响应</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BlsNo">
											<xs:annotation>
												<xs:documentation>业务单据统一编号</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="64"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BlsType">
											<xs:annotation>
												<xs:documentation>业务单证类型</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ChgTmsCnt">
											<xs:annotation>
												<xs:documentation>变更次数</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="19"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NemsAcmpRLType" type="NemsAcmpRLType" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>附件关系表</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="NemsInfo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>大报文分包信息</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="POCKET_ID" type="xs:string">
											<xs:annotation>
												<xs:documentation>包id（每个包的id必须相同）</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TOTAL_POCKET" type="xs:string">
											<xs:annotation>
												<xs:documentation>总包数</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CUR_POCKET" type="xs:string">
											<xs:annotation>
												<xs:documentation>当前包序号</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Signature">
		<xs:annotation>
			<xs:documentation>xml数字签名根节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SignedInfo"/>
				<xs:element ref="SignatureValue"/>
				<xs:element ref="KeyInfo"/>
				<xs:element name="Object">
					<xs:annotation>
						<xs:documentation>业务实体报文</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Package"/>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommonResponseMessage">
		<xs:annotation>
			<xs:documentation>导入通用响应</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeqNo">
					<xs:annotation>
						<xs:documentation>统一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EtpsPreentNo">
					<xs:annotation>
						<xs:documentation>手册号、账册号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CheckInfo">
					<xs:annotation>
						<xs:documentation>错误信息</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DealFlag">
					<xs:annotation>
						<xs:documentation>错误标志</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NemsAcmpRLType">
		<xs:annotation>
			<xs:documentation>附件关系表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FileName">
				<xs:annotation>
					<xs:documentation>附件文件名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgTmsCnt">
				<xs:annotation>
					<xs:documentation>变更或报核次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormFmt">
				<xs:annotation>
					<xs:documentation>随附单证格式</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BlsType">
				<xs:annotation>
					<xs:documentation>业务单证类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormSeqNo">
				<xs:annotation>
					<xs:documentation>随附单证序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormTypeCD">
				<xs:annotation>
					<xs:documentation>随附单证类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormNo">
				<xs:annotation>
					<xs:documentation>随附单证编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormFileNm">
				<xs:annotation>
					<xs:documentation>随附单证文件名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvtGdsSeqNo">
				<xs:annotation>
					<xs:documentation>清单商品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IcCardNo">
				<xs:annotation>
					<xs:documentation>上传人IC卡号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransferTradeCode">
				<xs:annotation>
					<xs:documentation>上传单位海关编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkCD">
				<xs:annotation>
					<xs:documentation>修改标记代码 0-未修改 1-修改  3-增加</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PocketId">
				<xs:annotation>
					<xs:documentation>包ID(通一票数据包id必须相同)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CurPocketNo">
				<xs:annotation>
					<xs:documentation>当前包序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalPocketQty">
				<xs:annotation>
					<xs:documentation>总包数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NemsAcmpRLMessage">
		<xs:annotation>
			<xs:documentation>附件关系请求/响应</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NemsAcmpRLType" type="NemsAcmpRLType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>附件关系表</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
