amisbook文档/单一窗口回执文档/30-金关工程二期特殊监管区域（保税物流管理系统）导入接口规范/SAS101.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--附件信息-->
	<xs:complexType name="SasAcmpRLType">
		<xs:annotation>
			<xs:documentation>附件关系表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FileName">
				<xs:annotation>
					<xs:documentation>附件文件名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BlsNo">
				<xs:annotation>
					<xs:documentation>业务单据统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgTmsCnt">
				<xs:annotation>
					<xs:documentation>变更或报核次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormFmt">
				<xs:annotation>
					<xs:documentation>随附单证格式</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BlsType">
				<xs:annotation>
					<xs:documentation>业务单证类型    6-业务申报表;7- 物流账册</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormTypeCD">
				<xs:annotation>
					<xs:documentation>随附单证类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormNo">
				<xs:annotation>
					<xs:documentation>随附单证编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormFileNm">
				<xs:annotation>
					<xs:documentation>随附单证文件名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IcCardNo">
				<xs:annotation>
					<xs:documentation>上传人IC卡号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransferTradeCode">
				<xs:annotation>
					<xs:documentation>上传单位海关编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkCD">
				<xs:annotation>
					<xs:documentation>修改标记代码 0-未修改 1-修改  3-增加</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="total_pocket_qty">
				<xs:annotation>
					<xs:documentation>总包数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cur_pocket_no">
				<xs:annotation>
					<xs:documentation>当前包序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pocket_id">
				<xs:annotation>
					<xs:documentation>包ID(通一票数据包id必须相同)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SasAcmpRLMessage">
		<xs:annotation>
			<xs:documentation>附件关系请求/响应</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SasAcmpRLList" type="SasAcmpRLType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>附件关系表</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--申报表信息-->
	<xs:element name="AppMessage">
		<xs:annotation>
			<xs:documentation>申报表暂存、申报请求报文/明细查询响应报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppHead" type="AppHeadType">
					<xs:annotation>
						<xs:documentation>申报表预录入表头</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AppGoods" type="AppGoodsType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>申报表预录入表体</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AppUcns" type="AppUcnsType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>申报表单耗预录入表体</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OperCusRegCode">
					<xs:annotation>
						<xs:documentation>操作卡的海关十位</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AppHeadType">
		<xs:annotation>
			<xs:documentation>申报表表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SasDclNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报表编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MaserCuscd">
				<xs:annotation>
					<xs:documentation>主管关区代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclTypecd">
				<xs:annotation>
					<xs:documentation>申报类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BusinessTypecd">
				<xs:annotation>
					<xs:documentation>业务类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DirectionTypecd">
				<xs:annotation>
					<xs:documentation>货物流向代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreainOriactNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>区内账册编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreaoutOriactNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>区外账册编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreainEtpsno">
				<xs:annotation>
					<xs:documentation>区内企业编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreainEtpsNm">
				<xs:annotation>
					<xs:documentation>区内企业名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreainEtpsSccd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>区内企业社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreaoutEtpsno" minOccurs="0">
				<xs:annotation>
					<xs:documentation>区外企业编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreaoutEtpsNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>区外企业名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreaoutEtpsSccd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>区外企业社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DpstLevyBlNo">
				<xs:annotation>
					<xs:documentation>保证金征收单编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ValidTime">
				<xs:annotation>
					<xs:documentation>有效期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEr">
				<xs:annotation>
					<xs:documentation>申请人</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExhibitionPlace" minOccurs="0">
				<xs:annotation>
					<xs:documentation>展示地</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsno">
				<xs:annotation>
					<xs:documentation>申报企业编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsNm">
				<xs:annotation>
					<xs:documentation>申报企业名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsSccd">
				<xs:annotation>
					<xs:documentation>申报企业社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputCode">
				<xs:annotation>
					<xs:documentation>录入单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputSccd">
				<xs:annotation>
					<xs:documentation>录入单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputName">
				<xs:annotation>
					<xs:documentation>录入单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EtpsPreentNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>企业内部编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MtpckEndprdTypecd">
				<xs:annotation>
					<xs:documentation>底账料件成品标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>边角料标志，1：是，默认为空</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段2</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段3</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段4</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col4Cus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>担保征收比例%</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FreeDomestic" minOccurs="0">
				<xs:annotation>
					<xs:documentation>保税区内销标志，“Y”：是，默认为空</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppGoodsType">
		<xs:annotation>
			<xs:documentation>申报表商品表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SasDclNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报表编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SasDclSeqno">
				<xs:annotation>
					<xs:documentation>申报序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OriactGdsSeqno">
				<xs:annotation>
					<xs:documentation>底账商品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MtpckEndprdTypecd">
				<xs:annotation>
					<xs:documentation>料件成品标志代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Gdecd">
				<xs:annotation>
					<xs:documentation>商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsNm">
				<xs:annotation>
					<xs:documentation>商品名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsSpcfModelDesc">
				<xs:annotation>
					<xs:documentation>商品规格型号描述</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclQty">
				<xs:annotation>
					<xs:documentation>数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclUnitcd">
				<xs:annotation>
					<xs:documentation>申报计量单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclUprcAmt">
				<xs:annotation>
					<xs:documentation>单价</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclTotalAmt">
				<xs:annotation>
					<xs:documentation>总价</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclCurrcd">
				<xs:annotation>
					<xs:documentation>币制代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LicenceNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>许可证编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LicenceVaildTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>许可证有效期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsMarkcd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>商品标记代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsRmk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>商品备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkcd">
				<xs:annotation>
					<xs:documentation>修改标志代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsMtno">
				<xs:annotation>
					<xs:documentation>商品料号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LawfUnitcd">
				<xs:annotation>
					<xs:documentation>法定计量单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SecdLawfUnitcd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>法定第二计量单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EndprdGdsTypecd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>成品类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段1</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段2</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段3</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段4</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppUcnsType">
		<xs:annotation>
			<xs:documentation>申报表单耗表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SasDclNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报表编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EndprdSeqno">
				<xs:annotation>
					<xs:documentation>成品备案序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MtpckSeqno">
				<xs:annotation>
					<xs:documentation>料件备案序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NetUseupQty">
				<xs:annotation>
					<xs:documentation>净耗数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LossRate">
				<xs:annotation>
					<xs:documentation>损耗率</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkcd">
				<xs:annotation>
					<xs:documentation>修改标志代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段1</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段2</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段3</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Col4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备用字段4</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--公共信息-->
	<xs:element name="CommonResponeMessage">
		<xs:annotation>
			<xs:documentation>导入通用响应信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeqNo">
					<xs:annotation>
						<xs:documentation>中心统一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EtpsPreentNo">
					<xs:annotation>
						<xs:documentation>客户端内部编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CheckInfo">
					<xs:annotation>
						<xs:documentation>响应信息</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DealFlag">
					<xs:annotation>
						<xs:documentation>响应代码</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="KeyInfo">
		<xs:annotation>
			<xs:documentation>签名所用的证书信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="KeyName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2"/>
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SignatureValue">
		<xs:annotation>
			<xs:documentation>签名值</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="256"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SignedInfo">
		<xs:annotation>
			<xs:documentation>计算签名值所用的算法</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CanonicalizationMethod">
					<xs:annotation>
						<xs:documentation>规范化算法</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Algorithm" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="SignatureMethod">
					<xs:annotation>
						<xs:documentation>数字签名算法</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Algorithm" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
									<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#rsa-md5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Reference">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DigestMethod">
								<xs:annotation>
									<xs:documentation>摘要算法</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Algorithm" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:anyURI">
												<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#sha1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="DigestValue">
								<xs:annotation>
									<xs:documentation>摘要值</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="256"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="URI" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnvelopInfo">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="version">
					<xs:annotation>
						<xs:documentation>版本编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="11"/>
							<xs:minLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="business_id" minOccurs="0">
					<xs:annotation>
						<xs:documentation>业务单证号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="message_id">
					<xs:annotation>
						<xs:documentation>报文唯一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="file_name">
					<xs:annotation>
						<xs:documentation>用户原始报文名，主要用于用户查询</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="message_type">
					<xs:annotation>
						<xs:documentation>报文类型</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="6"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sender_id">
					<xs:annotation>
						<xs:documentation>发送方编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="receiver_id">
					<xs:annotation>
						<xs:documentation>接收方编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="send_time" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>发送时间</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ic_Card">
					<xs:annotation>
						<xs:documentation>平台用户所用ic卡号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="any_data">
		<xs:annotation>
			<xs:documentation>业务数据内容</xs:documentation>
		</xs:annotation>
		<xs:complexType/>
	</xs:element>
	<xs:element name="PocketInfo">
		<xs:annotation>
			<xs:documentation>包信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="is_unstructured" minOccurs="0">
					<xs:annotation>
						<xs:documentation>1-非格式化</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Package">
		<xs:annotation>
			<xs:documentation>业务报文数据节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EnvelopInfo"/>
				<xs:element ref="DataInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataInfo">
		<xs:annotation>
			<xs:documentation>业务内容</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PocketInfo"/>
				<xs:element name="BussinessData">
					<xs:annotation>
						<xs:documentation>存放业务数据</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="AppMessage"/>
							<xs:element name="DelcareFlag" type="xs:int">
								<xs:annotation>
									<xs:documentation>申报标志 0--暂存；1--申报；</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="SasAcmpRLMessage" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Signature">
		<xs:annotation>
			<xs:documentation>xml数字签名根节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SignedInfo"/>
				<xs:element ref="SignatureValue"/>
				<xs:element ref="KeyInfo"/>
				<xs:element name="Object">
					<xs:annotation>
						<xs:documentation>业务实体报文</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Package"/>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
