amisbook文档/金关工程二期加工贸易账册导入接口规范/EMS121.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by wangjie (CHINA E-PORT INFORMATION DATA) -->
<xs:schema xmlns:nems="http://www.chinaport.gov.cn/nems" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--帐册报核信息-->
	<xs:element name="DcrMessage">
		<xs:annotation>
			<xs:documentation>帐册报核暂存、申报请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NemsDcrHeadType" type="NemsDcrHeadType"/>
				<xs:element name="NemsDcrBillTypes" type="NemsDcrBillType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="NmesDcrImgTypes" type="NemsDcrImgType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="OperInfo" type="OperInfo"/>
				<xs:element name="DcrSign" type="DcrSign" minOccurs="0"/>
				<xs:element name="OperCusRegCode">
					<xs:annotation>
						<xs:documentation>操作卡的海关十位</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DcrResponeMessage">
		<xs:annotation>
			<xs:documentation>帐册报核暂存、申报响应报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeqNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>中心统一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EmsNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>帐册编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="12"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ExceptionInfo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>异常信息</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NemsDcrHeadType">
		<xs:annotation>
			<xs:documentation>帐册报核表头信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmsNo">
				<xs:annotation>
					<xs:documentation>账册编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TradeName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经营单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TradeCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经营单位编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OwnerName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>加工单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OwnerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>加工单位编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BizopEtpsSccd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经营企业社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PvsngdEtpsSccd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>加工企业社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffTmsCnt">
				<xs:annotation>
					<xs:documentation>报核次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffTypecd">
				<xs:annotation>
					<xs:documentation>报核类型代码(1-正常报核；2-补充申报)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffBeginTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>报核开始时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffDueTime">
				<xs:annotation>
					<xs:documentation>报核截止时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImpInvtTotalCnt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>进口清单总数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpInvtTotalCnt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出口清单总数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImpMtpckTotalAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>进口料件总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpEndprdTotalAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出口成品总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffMtpckTotalCnt">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffEndprdTotalCnt">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffLfmtTotalCnt">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffImprTotalCnt">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputTime">
				<xs:annotation>
					<xs:documentation>录入时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputEtpsTypecd">
				<xs:annotation>
					<xs:documentation>录入单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputEtpsSccd">
				<xs:annotation>
					<xs:documentation>录入单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputEtpsNm">
				<xs:annotation>
					<xs:documentation>录入单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsTypecd">
				<xs:annotation>
					<xs:documentation>申报单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsSccd">
				<xs:annotation>
					<xs:documentation>申报单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsNm">
				<xs:annotation>
					<xs:documentation>申报单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffDclTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>报核申报时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MasterCuscd">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>入库时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NemsDcrBillType">
		<xs:annotation>
			<xs:documentation>帐册报核核注清单表体信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GNo">
				<xs:annotation>
					<xs:documentation>序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BondInvtNo">
				<xs:annotation>
					<xs:documentation>保税清单编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclTypecd">
				<xs:annotation>
					<xs:documentation>申报类型代码(1-正常申报；2-补充申报)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IeFlag">
				<xs:annotation>
					<xs:documentation>进出口标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Note" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>入库时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkcd">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmsNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>账册编号(拆包导入的时候必填，其他情况不必填)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffTmsCnt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>报核次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NemsDcrImgType">
		<xs:annotation>
			<xs:documentation>帐册报核料件表体信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GNo">
				<xs:annotation>
					<xs:documentation>商品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MtpckEndprdTypecd">
				<xs:annotation>
					<xs:documentation>料件成品类型代码(I-料件
E-成品
2-报核料件3-报核成品
)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmsGdsSeqno">
				<xs:annotation>
					<xs:documentation>账册商品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CopGNo">
				<xs:annotation>
					<xs:documentation>料号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Gdecd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>商品名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShdRemainQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应剩余数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShdRemainTotalAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应剩余总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActlRemainQty">
				<xs:annotation>
					<xs:documentation>实际剩余数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActlRemainTotalAmt">
				<xs:annotation>
					<xs:documentation>实际剩余总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CsmTotalQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>消耗总数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CsmTotalAmt">
				<xs:annotation>
					<xs:documentation>消耗总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImpOrExpTotalQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>进口或者出口总数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SdinQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>内销数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SdinTotalAmt">
				<xs:annotation>
					<xs:documentation>内销总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EndprdRetnExchExpQty">
				<xs:annotation>
					<xs:documentation>成品退换出口数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EndprdRetnExchImpQty">
				<xs:annotation>
					<xs:documentation>成品退换进口数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LfmtImprQty">
				<xs:annotation>
					<xs:documentation>边角料数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LfmtImprTotalAmt">
				<xs:annotation>
					<xs:documentation>边角料总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DprcsCrdwImpexpQty">
				<xs:annotation>
					<xs:documentation>深加工结转进出口数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReexpQty">
				<xs:annotation>
					<xs:documentation>复出口数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RemainMtpckTrfoutQty">
				<xs:annotation>
					<xs:documentation>剩余料件转出数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mtpckEndprdDstryQty">
				<xs:annotation>
					<xs:documentation>料件成品销毁数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LfmtDstryQty">
				<xs:annotation>
					<xs:documentation>边角料销毁数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VrfredQty">
				<xs:annotation>
					<xs:documentation>核减数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VrfaddQty">
				<xs:annotation>
					<xs:documentation>核增数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TgblLossQty">
				<xs:annotation>
					<xs:documentation>有形损耗数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IntgbLossQty">
				<xs:annotation>
					<xs:documentation>无形损耗数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DsmlQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>差异数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DsmlAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>差异金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclcusInvtAvgUprcAmt">
				<xs:annotation>
					<xs:documentation>报关清单平均单价金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DsmlRate">
				<xs:annotation>
					<xs:documentation>差异率</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VclrPridInitQty">
				<xs:annotation>
					<xs:documentation>核销周期初始数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FstSpareMarkcd">
				<xs:annotation>
					<xs:documentation>第一备用标记代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SpareAmt">
				<xs:annotation>
					<xs:documentation>备用金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SpareQty">
				<xs:annotation>
					<xs:documentation>备用数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Unit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>计量单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirstQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期初数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TcycleBalQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期结余数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>入库时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DsmlFlag">
				<xs:annotation>
					<xs:documentation>差异确认标记</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkcd">
				<xs:annotation>
					<xs:documentation>差异确认标记</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmsNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>账册编号(拆包导入的时候必填，其他情况不必填)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgoffTmsCnt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>报核次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DcrSign">
		<xs:annotation>
			<xs:documentation>帐册报核签名信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmsNo">
				<xs:annotation>
					<xs:documentation>帐册编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TradeCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经营单位编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TradeCreditCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经营单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OwnerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>加工单位编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--账册系统公共信息-->
	<xs:complexType name="OperInfo">
		<xs:annotation>
			<xs:documentation>操作信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportType">
				<xs:annotation>
					<xs:documentation>导入标示：0-录入；1-导入</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="KeyInfo">
		<xs:annotation>
			<xs:documentation>签名所用的证书信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="KeyName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2"/>
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SignatureValue">
		<xs:annotation>
			<xs:documentation>签名值</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="256"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SignedInfo">
		<xs:annotation>
			<xs:documentation>计算签名值所用的算法</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CanonicalizationMethod">
					<xs:annotation>
						<xs:documentation>规范化算法</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Algorithm" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="SignatureMethod">
					<xs:annotation>
						<xs:documentation>数字签名算法</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Algorithm" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
									<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#rsa-md5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Reference">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DigestMethod">
								<xs:annotation>
									<xs:documentation>摘要算法</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Algorithm" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:anyURI">
												<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#sha1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="DigestValue">
								<xs:annotation>
									<xs:documentation>摘要值</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="256"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="URI" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnvelopInfo">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="version">
					<xs:annotation>
						<xs:documentation>版本编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="11"/>
							<xs:minLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="business_id" minOccurs="0">
					<xs:annotation>
						<xs:documentation>业务单证号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="message_id">
					<xs:annotation>
						<xs:documentation>报文唯一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="file_name">
					<xs:annotation>
						<xs:documentation>用户原始报文名，主要用于用户查询</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="message_type">
					<xs:annotation>
						<xs:documentation>报文类型</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="6"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sender_id">
					<xs:annotation>
						<xs:documentation>发送方编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="receiver_id">
					<xs:annotation>
						<xs:documentation>接收方编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="send_time" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>发送时间</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ic_Card" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>平台用户所用ic卡号</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="any_data">
		<xs:annotation>
			<xs:documentation>业务数据内容</xs:documentation>
		</xs:annotation>
		<xs:complexType/>
	</xs:element>
	<xs:element name="Package">
		<xs:annotation>
			<xs:documentation>业务报文数据节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EnvelopInfo"/>
				<xs:element ref="DataInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataInfo">
		<xs:annotation>
			<xs:documentation>业务内容</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BussinessData">
					<xs:annotation>
						<xs:documentation>存放业务数据</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DcrMessage"/>
							<xs:element name="DelcareFlag" type="xs:int">
								<xs:annotation>
									<xs:documentation>申报标志 0--暂存；1--申报；</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NemsAcmpRLMessage">
								<xs:annotation>
									<xs:documentation>附件关系请求/响应</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BlsNo">
											<xs:annotation>
												<xs:documentation>业务单据统一编号</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="64"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BlsType">
											<xs:annotation>
												<xs:documentation>业务单证类型</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ChgTmsCnt">
											<xs:annotation>
												<xs:documentation>变更次数</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="19"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NemsAcmpRLType" type="NemsAcmpRLType" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>附件关系表</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="NemsInfo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>大报文分包信息</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="POCKET_ID" type="xs:int">
											<xs:annotation>
												<xs:documentation>包id（每个包的id必须相同）</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TOTAL_POCKET" type="xs:int">
											<xs:annotation>
												<xs:documentation>总包数</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CUR_POCKET" type="xs:int">
											<xs:annotation>
												<xs:documentation>当前包序号</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Signature">
		<xs:annotation>
			<xs:documentation>xml数字签名根节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SignedInfo"/>
				<xs:element ref="SignatureValue"/>
				<xs:element ref="KeyInfo"/>
				<xs:element name="Object">
					<xs:annotation>
						<xs:documentation>业务实体报文</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Package"/>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommonResponseMessage">
		<xs:annotation>
			<xs:documentation>导入通用响应</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeqNo">
					<xs:annotation>
						<xs:documentation>统一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EtpsPreentNo">
					<xs:annotation>
						<xs:documentation>手册号、账册号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CheckInfo">
					<xs:annotation>
						<xs:documentation>错误信息</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DealFlag">
					<xs:annotation>
						<xs:documentation>错误标志</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NemsAcmpRLType">
		<xs:annotation>
			<xs:documentation>附件关系表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FileName">
				<xs:annotation>
					<xs:documentation>附件文件名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgTmsCnt">
				<xs:annotation>
					<xs:documentation>变更或报核次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormFmt">
				<xs:annotation>
					<xs:documentation>随附单证格式</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BlsType">
				<xs:annotation>
					<xs:documentation>业务单证类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormSeqNo">
				<xs:annotation>
					<xs:documentation>随附单证序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormTypeCD">
				<xs:annotation>
					<xs:documentation>随附单证类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormNo">
				<xs:annotation>
					<xs:documentation>随附单证编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormFileNm">
				<xs:annotation>
					<xs:documentation>随附单证文件名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvtGdsSeqNo">
				<xs:annotation>
					<xs:documentation>清单商品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IcCardNo">
				<xs:annotation>
					<xs:documentation>上传人IC卡号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransferTradeCode">
				<xs:annotation>
					<xs:documentation>上传单位海关编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkCD">
				<xs:annotation>
					<xs:documentation>修改标记代码 0-未修改 1-修改  3-增加</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PocketId">
				<xs:annotation>
					<xs:documentation>包ID(通一票数据包id必须相同)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CurPocketNo">
				<xs:annotation>
					<xs:documentation>当前包序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalPocketQty">
				<xs:annotation>
					<xs:documentation>总包数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NemsAcmpRLMessage">
		<xs:annotation>
			<xs:documentation>附件关系请求/响应</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NemsAcmpRLType" type="NemsAcmpRLType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>附件关系表</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
