amisbook文档/金关工程二期加工贸易账册导入接口规范/EMS101.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by liuxinyuan (China E-port Data Centre) -->
<xs:schema xmlns:nems="http://www.chinaport.gov.cn/nems" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--企业资质申请信息-->
	<xs:element name="TrMessage">
		<xs:annotation>
			<xs:documentation>企业资质申请暂存、申报请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NemsTrHeadType" type="NemsTrHeadType"/>
				<xs:element name="NemsTrImgTypes" type="NemsTrImgType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="NemsTrExgTypes" type="NemsTrExgType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="TrSign" type="TrSign"/>
				<xs:element name="OperCusRegCode">
					<xs:annotation>
						<xs:documentation>操作卡的海关十位</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TrResponeMessage">
		<xs:annotation>
			<xs:documentation>企业资质申请暂存、申报响应报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeqNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>中心统一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EtArcrpNo">
					<xs:annotation>
						<xs:documentation>联网企业档案库编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="64"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EtpsPreentNo">
					<xs:annotation>
						<xs:documentation>企业预录入编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="64"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ExceptionInfo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>企业预录入编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NemsTrHeadType">
		<xs:annotation>
			<xs:documentation>企业资质申请表头信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EtArcrpNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联网企业档案库编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgTmsCnt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>变更次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EtpsPreentNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>企业预录入编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MasterCuscd">
				<xs:annotation>
					<xs:documentation>主管关区代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BizopEtpsSccd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经营企业社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BizopEtpsno">
				<xs:annotation>
					<xs:documentation>经营企业编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BizopEtpsNm">
				<xs:annotation>
					<xs:documentation>经营企业名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrcsEtpsSccd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>加工企业社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrcsEtpsno">
				<xs:annotation>
					<xs:documentation>加工企业编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrcsEtpsNm">
				<xs:annotation>
					<xs:documentation>加工企业名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsSccd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报企业社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsno" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报企业编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报企业名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclEtpsTypecd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报企业类型代码(1-企业 2-代理公司 3-报关行)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ConcAddr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联系地址</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Telnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>电话号码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FinishValidTime">
				<xs:annotation>
					<xs:documentation>结束有效时间(格式：yyyyMMdd）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrcsPrdcAbltAmt">
				<xs:annotation>
					<xs:documentation>加工生产能力金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApcretNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>批准证编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RiskAssureMarkcd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>风险担保标记代码（0-无需担保 1-未担保 (需要担保但尚未缴纳) 2-已担保）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RltFormNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>关联单证编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclSourceMarkcd">
				<xs:annotation>
					<xs:documentation>申报来源标记代码（1-电子口岸申报 2-地方平台申报 3-其它申报 ）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclTypecd">
				<xs:annotation>
					<xs:documentation>申报类型代码（1-备案申请 2-变更申请）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DclTime">
				<xs:annotation>
					<xs:documentation>申报时间（格式：yyyyMMdd）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmapvStucd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>审批状态代码（1-通过 2-退单）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExeMarkcd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>执行标记代码（1-在执行 2-已注销)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PutrecApprTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备案批准时间（格式：yyyyMMdd）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgApprTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>变更批准时间（格式：yyyyMMdd）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>录入单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputCreditCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>录入单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>录入单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>录入日期（格式：yyyyMMdd）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>入库时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NemsTrImgType">
		<xs:annotation>
			<xs:documentation>企业资质申请料件表体信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GNo">
				<xs:annotation>
					<xs:documentation>表体序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Mtno">
				<xs:annotation>
					<xs:documentation>料号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgTmsCnt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>变更次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Gdecd">
				<xs:annotation>
					<xs:documentation>商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsNm">
				<xs:annotation>
					<xs:documentation>商品名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkcd">
				<xs:annotation>
					<xs:documentation>修改标记代码（0-未修改 1-修改 2-删除 3-增加）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>入库时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NemsTrExgType">
		<xs:annotation>
			<xs:documentation>企业资质申请成品表体信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeqNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预录入统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GNo">
				<xs:annotation>
					<xs:documentation>表体序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Mtno">
				<xs:annotation>
					<xs:documentation>料号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgTmsCnt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>变更次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Gdecd">
				<xs:annotation>
					<xs:documentation>商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GdsNm">
				<xs:annotation>
					<xs:documentation>商品名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkcd">
				<xs:annotation>
					<xs:documentation>修改标记代码（0-未修改 1-修改 2-删除 3-增加）</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>入库时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrSign">
		<xs:annotation>
			<xs:documentation>企业资质申请签名信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>档案库编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CopTrNo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>企业预录入编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TradeCode">
				<xs:annotation>
					<xs:documentation>经营单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TradeCreditCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经营单位社会信用代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OwnerCode">
				<xs:annotation>
					<xs:documentation>加工单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--账册系统公共信息-->
	<xs:complexType name="OperInfo">
		<xs:annotation>
			<xs:documentation>操作信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportType">
				<xs:annotation>
					<xs:documentation>导入标示：0-录入；1-导入</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="KeyInfo">
		<xs:annotation>
			<xs:documentation>签名所用的证书信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="KeyName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2"/>
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SignatureValue">
		<xs:annotation>
			<xs:documentation>签名值</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="256"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SignedInfo">
		<xs:annotation>
			<xs:documentation>计算签名值所用的算法</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CanonicalizationMethod">
					<xs:annotation>
						<xs:documentation>规范化算法</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Algorithm" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="SignatureMethod">
					<xs:annotation>
						<xs:documentation>数字签名算法</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Algorithm" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
									<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#rsa-md5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Reference">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DigestMethod">
								<xs:annotation>
									<xs:documentation>摘要算法</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Algorithm" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:anyURI">
												<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#sha1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="DigestValue">
								<xs:annotation>
									<xs:documentation>摘要值</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="256"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="URI" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnvelopInfo">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="version">
					<xs:annotation>
						<xs:documentation>版本编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="11"/>
							<xs:minLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="business_id" minOccurs="0">
					<xs:annotation>
						<xs:documentation>业务单证号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="message_id">
					<xs:annotation>
						<xs:documentation>报文唯一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="file_name">
					<xs:annotation>
						<xs:documentation>用户原始报文名，主要用于用户查询</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="message_type">
					<xs:annotation>
						<xs:documentation>报文类型</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="6"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sender_id">
					<xs:annotation>
						<xs:documentation>发送方编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="receiver_id">
					<xs:annotation>
						<xs:documentation>接收方编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="send_time" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>发送时间</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ic_Card" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>平台用户所用ic卡号</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="any_data">
		<xs:annotation>
			<xs:documentation>业务数据内容</xs:documentation>
		</xs:annotation>
		<xs:complexType/>
	</xs:element>
	<xs:element name="Package">
		<xs:annotation>
			<xs:documentation>业务报文数据节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EnvelopInfo"/>
				<xs:element ref="DataInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataInfo">
		<xs:annotation>
			<xs:documentation>业务内容</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BussinessData">
					<xs:annotation>
						<xs:documentation>存放业务数据</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="TrMessage"/>
							<xs:element name="DelcareFlag" type="xs:int">
								<xs:annotation>
									<xs:documentation>申报标志 0--暂存；1--申报；</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NemsAcmpRLMessage">
								<xs:annotation>
									<xs:documentation>附件关系请求/响应</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BlsNo">
											<xs:annotation>
												<xs:documentation>业务单据统一编号</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="64"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BlsType">
											<xs:annotation>
												<xs:documentation>业务单证类型</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ChgTmsCnt">
											<xs:annotation>
												<xs:documentation>变更次数</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="19"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NemsAcmpRLType" type="NemsAcmpRLType" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>附件关系表</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Signature">
		<xs:annotation>
			<xs:documentation>xml数字签名根节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SignedInfo"/>
				<xs:element ref="SignatureValue"/>
				<xs:element ref="KeyInfo"/>
				<xs:element name="Object">
					<xs:annotation>
						<xs:documentation>业务实体报文</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Package"/>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommonResponseMessage">
		<xs:annotation>
			<xs:documentation>导入通用响应</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeqNo">
					<xs:annotation>
						<xs:documentation>统一编号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EtpsPreentNo">
					<xs:annotation>
						<xs:documentation>手册号、账册号</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CheckInfo">
					<xs:annotation>
						<xs:documentation>错误信息</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DealFlag">
					<xs:annotation>
						<xs:documentation>错误标志</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NemsAcmpRLType">
		<xs:annotation>
			<xs:documentation>附件关系表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FileName">
				<xs:annotation>
					<xs:documentation>附件文件名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChgTmsCnt">
				<xs:annotation>
					<xs:documentation>变更或报核次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormFmt">
				<xs:annotation>
					<xs:documentation>随附单证格式</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BlsType">
				<xs:annotation>
					<xs:documentation>业务单证类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormSeqNo">
				<xs:annotation>
					<xs:documentation>随附单证序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormTypeCD">
				<xs:annotation>
					<xs:documentation>随附单证类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormNo">
				<xs:annotation>
					<xs:documentation>随附单证编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AcmpFormFileNm">
				<xs:annotation>
					<xs:documentation>随附单证文件名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvtGdsSeqNo">
				<xs:annotation>
					<xs:documentation>清单商品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IcCardNo">
				<xs:annotation>
					<xs:documentation>上传人IC卡号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransferTradeCode">
				<xs:annotation>
					<xs:documentation>上传单位海关编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rmk">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModfMarkCD">
				<xs:annotation>
					<xs:documentation>修改标记代码 0-未修改 1-修改  3-增加</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PocketId">
				<xs:annotation>
					<xs:documentation>包ID(通一票数据包id必须相同)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CurPocketNo">
				<xs:annotation>
					<xs:documentation>当前包序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalPocketQty">
				<xs:annotation>
					<xs:documentation>总包数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NemsAcmpRLMessage">
		<xs:annotation>
			<xs:documentation>附件关系请求/响应</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NemsAcmpRLType" type="NemsAcmpRLType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>附件关系表</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
