amisbook文档/单一窗口回执文档/进出口货物报关单报文格式V4.6/complexType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by EMBRACE (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="DecSupplementListType">
		<xs:annotation>
			<xs:documentation>补充申报单表体信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GNo">
				<xs:annotation>
					<xs:documentation>补充申报单商品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupType">
				<xs:annotation>
					<xs:documentation>补充申报单类型，A：价格补充申报单；B：商品归类补充申报单；C：原产地补充申报单；</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BrandCN">
				<xs:annotation>
					<xs:documentation>品牌中文</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BrandEN">
				<xs:annotation>
					<xs:documentation>品牌英文</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Buyer">
				<xs:annotation>
					<xs:documentation>买方名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuyerContact">
				<xs:annotation>
					<xs:documentation>买方联系人</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuyerAddr">
				<xs:annotation>
					<xs:documentation>买方地址</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuyerTel">
				<xs:annotation>
					<xs:documentation>买方电话</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Seller">
				<xs:annotation>
					<xs:documentation>卖方名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerContact">
				<xs:annotation>
					<xs:documentation>卖方联系人</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerAddr">
				<xs:annotation>
					<xs:documentation>卖方地址</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerTel">
				<xs:annotation>
					<xs:documentation>卖方电话</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Factory">
				<xs:annotation>
					<xs:documentation>生产厂商名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FactoryContact">
				<xs:annotation>
					<xs:documentation>生产厂商联系人</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FactoryAddr">
				<xs:annotation>
					<xs:documentation>生产厂商地址</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FactoryTel">
				<xs:annotation>
					<xs:documentation>生产厂商电话</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContrNo">
				<xs:annotation>
					<xs:documentation>合同协议号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContrDate">
				<xs:annotation>
					<xs:documentation>签约日期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceNo">
				<xs:annotation>
					<xs:documentation>发票编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceDate">
				<xs:annotation>
					<xs:documentation>发票日期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_BabRel">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物申报项。
买卖双方之间存在的关系：
1-8项可多选，但0与1-8项不可同时选
0：买卖双方无以下任何一种关系；
1：买卖双方为同一家族成员；
2：买卖双方互为商业上的高级职员或董事；
3：一方直接或间接地受另一方控制；
4：买卖双方都直接或间接地受第三方控制；
5：买卖双方共同直接或间接地控制第三方；
6：一方直接或间接地拥有控制或持有对方5%或以上的公开发行的有表决权的股票或股份；
7：一方是另一方雇员、高级职员或董事；
8：买卖双方是同一合伙的成员
存储方式：8位有效位，选择了前1－8项的任何一个，则对应位为1，否则为0；选择0则不允许选择1－8，8位全为0。</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_PriceEffect">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物申报项。
买卖双方关系是否影响进口货物成交价格：
0：不影响
1：影响</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_PriceClose">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物申报项。
进口货物成交价格相近情况：
1：与同时或大约同时向境内无特殊关系的买方出售的相同或类似货物的成交价格相近；
2：与同时或大约同时相同或类似货物的倒扣价格相近；
3：与同时或大约同时相同或类似货物的计算价格相近；
4：没有以上相近的价格。</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_OtherLimited">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物申报项。
买方处置或使用货物时是否受到除行政法规规定的限制以及对货物销售地域限制以外的限制：
0：不受限制
1：受限制</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_OtherEffect">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物申报项。
货物的价格是否受到使货物的成交价格无法确定的条件或因素的影响：
0：不受影响
1：受影响</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_Note1">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物申报项。
如果上述任一问题的回答为是，请说明限制、条件或因素的内容</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_IsUsefee">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物申报项。
买方是否应直接或间接支付与进口货物有关并作为货物销售条件的特许权使用费：
0：否 1：是</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_IsProfit">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物申报项。
卖方是否直接或间接从买方对该货物进口后销售、处置或者使用所得中获得收益：
0：否 1：是</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_Note2">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物申报项。
如存在以上特许权使用费和收益的支付，且其金额在进口时不能确定的，请说明</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Curr">
				<xs:annotation>
					<xs:documentation>价格申报项，币制</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:minLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoicePrice">
				<xs:annotation>
					<xs:documentation>价格申报项，发票价格单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，发票价格总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceNote">
				<xs:annotation>
					<xs:documentation>价格申报项，发票价格备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GoodsPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，间接支付/收取的货款单位金额，进口是间接支付，出口是间接收取</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GoodsAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，间接支付/收取的货款总金额，进口是间接支付，出口是间接收取</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GoodsNote">
				<xs:annotation>
					<xs:documentation>价格申报项，间接支付/收取的货款备注，进口是间接支付，出口是间接收取</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_CommissionPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物除购货佣金以外的佣金和经纪费单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_CommissionAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物除购货佣金以外的佣金和经纪费总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_CommissionNote">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物除购货佣金以外的佣金和经纪费备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_ContainerPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，与该进口货物视为一体的容器费用单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_ContainerAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，与该进口货物视为一体的容器费用总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_ContainerNote">
				<xs:annotation>
					<xs:documentation>价格申报项，与该进口货物视为一体的容器费用备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_PackPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物包装材料和包装劳务费用单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_PackAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物包装材料和包装劳务费用总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_PackNote">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物包装材料和包装劳务费用备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_PartPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物包含的材料、部件、零件和类似货物单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_PartAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物包含的材料、部件、零件和类似货物总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_PartNote">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物包含的材料、部件、零件和类似货物备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_ToolPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，在生产进口货物过程中使用的工具、模具和类似货物单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_ToolAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，在生产进口货物过程中使用的工具、模具和类似货物总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_ToolNote">
				<xs:annotation>
					<xs:documentation>价格申报项，在生产进口货物过程中使用的工具、模具和类似货物备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_LossPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，在生产进口货物过程中消耗的材料单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_LossAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，在生产进口货物过程中消耗的材料总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_LossNote">
				<xs:annotation>
					<xs:documentation>价格申报项，在生产进口货物过程中消耗的材料备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_DesignPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物在境外进行的为生产进口货物所需的工程设计、技术研发、工艺及制图等相关服务单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_DesignAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物在境外进行的为生产进口货物所需的工程设计、技术研发、工艺及制图等相关服务总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_DesignNote">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物在境外进行的为生产进口货物所需的工程设计、技术研发、工艺及制图等相关服务备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_UsefeePrice">
				<xs:annotation>
					<xs:documentation>价格申报项，特许权使用费单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_UsefeeAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，特许权使用费总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_UsefeeNote">
				<xs:annotation>
					<xs:documentation>价格申报项，特许权使用费备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_ProfitPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，卖方直接或间接从买方对货物进口后转售、处置或使用所得中获得的收益单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_ProfitAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，卖方直接或间接从买方对货物进口后转售、处置或使用所得中获得的收益总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_ProfitNote">
				<xs:annotation>
					<xs:documentation>价格申报项，卖方直接或间接从买方对货物进口后转售、处置或使用所得中获得的收益备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_FeePrice">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物运输费用单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_FeeAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物运输费用总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_FeeNote">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物运输费用备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_OtherPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物运输相关费用单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_OtherAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物运输相关费用总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_OtherNote">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物运输相关费用备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_InsurPrice">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物保险费单位金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_InsurAmount">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物保险费总金额</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_InsurNote">
				<xs:annotation>
					<xs:documentation>价格申报项，进口货物保险费备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="E_IsDutyDel">
				<xs:annotation>
					<xs:documentation>价格申报项，出口关税是否已经从申报价格中扣除</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GNameOther">
				<xs:annotation>
					<xs:documentation>归类申报项，商品其他名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CodeTsOther">
				<xs:annotation>
					<xs:documentation>归类申报项，进/出口国地区海关商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
						<xs:minLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsClassDecision">
				<xs:annotation>
					<xs:documentation>归类申报项
该商品是否取得过海关预归类决定书：
0：否 1：是
如选择是，则后面三项必填。</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DecisionNO">
				<xs:annotation>
					<xs:documentation>归类申报项，预归类决定书编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CodeTsDecision">
				<xs:annotation>
					<xs:documentation>归类申报项，预归类决定书商品编码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="10"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DecisionCus">
				<xs:annotation>
					<xs:documentation>归类申报项，作出预归类决定的直属海关</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="4"/>
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsSampleTest">
				<xs:annotation>
					<xs:documentation>归类申报项，该商品是否曾被海关取样化验：
0：否 1：是</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GOptions">
				<xs:annotation>
					<xs:documentation>归类申报项，商品信息选项：
A成分及比例
B原料及组成
C生产加工工艺
D构成
E技术参数
F具体规格
G工作原理
H车型、排量
I功能
J用途
K加工程度
L性能指标
M其他信息
以上可多选，至少选择一项。
存储和上传方式：13位有效位，选择了A－M项的任何一个，则对应位为1，否则为0。</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TrafMode">
				<xs:annotation>
					<xs:documentation>运输方式</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsDirectTraf">
				<xs:annotation>
					<xs:documentation>原产地申报项，是否直接运输：
0：否 1：是</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransitCountry">
				<xs:annotation>
					<xs:documentation>原产地申报项，中转国地区，如果选择非直接运输，必填</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DestPort">
				<xs:annotation>
					<xs:documentation>原产地申报项，到货口岸
CUSTOMS参数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
						<xs:minLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeclPort">
				<xs:annotation>
					<xs:documentation>原产地申报项，申报口岸
CUSTOMS参数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
						<xs:minLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BillNo">
				<xs:annotation>
					<xs:documentation>原产地申报项，提单编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OriginCountry">
				<xs:annotation>
					<xs:documentation>原产地申报项
COUNTRY参数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:minLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OriginMark">
				<xs:annotation>
					<xs:documentation>原产地申报项，原产国地区标记的位置：
1：外包装 2：内包装 3：产品本体 4：无</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CertCountry">
				<xs:annotation>
					<xs:documentation>原产地申报项，原产地证书签发机构及所在国家地区，非参数选项，可录入汉字或字母</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CertNO">
				<xs:annotation>
					<xs:documentation>原产地申报项，原产地证书编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CertStandard">
				<xs:annotation>
					<xs:documentation>原产地申报项，适用的原产地标准：
1：完全获得 2：税号改变 3：制造或加工工序 4：从价百分比 5：混合标准 6：其他标准</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OtherNote">
				<xs:annotation>
					<xs:documentation>公共申报项，其他需要说明的情况</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsSecret">
				<xs:annotation>
					<xs:documentation>对以上申报内容是否需要海关予以保密：
0：否
1：是</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AgentType">
				<xs:annotation>
					<xs:documentation>申报单位类型：
1:进出口货物收发货人
2:委托申报的报关企业</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeclAddr">
				<xs:annotation>
					<xs:documentation>申报人单位地址</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeclPost">
				<xs:annotation>
					<xs:documentation>申报人邮编</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeclTel">
				<xs:annotation>
					<xs:documentation>申报人电话</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DecSupplementSignType">
		<xs:annotation>
			<xs:documentation>补充申报单签名信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperType">
				<xs:annotation>
					<xs:documentation>操作类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IcCardId">
				<xs:annotation>
					<xs:documentation>操作员ic卡号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="13"/>
						<xs:maxLength value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClientSeqNo">
				<xs:annotation>
					<xs:documentation>报关单中心统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="18"/>
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SignDate">
				<xs:annotation>
					<xs:documentation>签名日期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="16"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SignData">
				<xs:annotation>
					<xs:documentation>签名信息</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="201"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DecSDResponseType">
		<xs:annotation>
			<xs:documentation>补充申报单回执信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PreSupId">
				<xs:annotation>
					<xs:documentation>补充申报单统一编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GNo">
				<xs:annotation>
					<xs:documentation>补充申报单商品序号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupType">
				<xs:annotation>
					<xs:documentation>补充申报单类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
